/* --- CSS Variables --- */
:root {
    --font-family-base: 'Noto Sans JP', sans-serif;
    --color-text: #333333;
    --color-background: #FFFFFF;
    --color-primary: #0077b6; /* Star Command Blue */
    --color-primary-dark: #005a8d;
    --color-light-gray: #f4f4f4;
    --color-accent-green: #32CD32; /* Lime Green for tabs */
}

/* Other Stores Section */
.stores {
    background-color: #f2f2f2;
}

.store-sns{
    margin-bottom: 30px;
}