/* --- CSS Variables --- */
:root {
    --font-family-base: 'Noto Sans JP', sans-serif;
    --color-text: #333333;
    --color-background: #FFFFFF;
    --color-primary: #0077b6; /* Star Command Blue */
    --color-primary-dark: #005a8d;
    --color-light-gray: #f4f4f4;
    --color-accent-green: #32CD32; /* Lime Green for tabs */

    /* Page Specific Colors */
    --color-bg-subtle: #e0fbfc;
    --color-reason-number: #00b4d8;
    --shadow-reason-number: 0 0 8px #00b4d8;;
    --bg-pricing-group-title: var(--color-primary);
}

body {
    padding-bottom: 80px; /* Space for sticky footer */
}