/* --- CSS Variables --- */
:root {
    --font-family-base: 'Noto Sans JP', sans-serif;
    --color-text: #333333;
    --color-background: #FFFFFF;
    --color-primary: #008080; /* Teal Blue */
    --color-primary-dark: #006060;
    --color-light-gray: #f4f4f4;
    --color-accent-green: #32CD32; /* Lime Green for tabs */

    /* Page Specific Colors */
    --color-bg-subtle: #F0FFF4;
    --color-reason-number: #5bf08f;
    --shadow-reason-number: 0 0 8px #5bf08f;;
    --bg-pricing-group-title: #2E8B57;
}

body {
    padding-bottom: 80px; /* Space for sticky footer */
}